body {
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjzhXfyce1la2slszbPOCh-FDVzIJLEvpe1g&s"); */
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    filter: blur(200);
    margin: 0;
    padding: 0;
    background-color: #5286a4;
    

}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}
#saved-count{
    font-size: smaller;
    text-transform: capitalize;
    

}
.app{
    text-align: center;
    border: 5px solid black;
    /* width: 300px; */
    text-align: center;
    padding: -1px;
    /* margin: 0;
    border-radius: 10px;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 20px; */
    width: 50%;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;

}